

:root{
    --dark:#231E23;
    --cyan:#39A6A3;
    --light:#0A1931;
    --pink:#BF1363;
    --dark1: rgba(167, 172, 237,1 );
    --dark2: rgba(191, 158, 228, 1);
    --light1: rgba(167, 172, 237,1);
    --light2: rgba(191, 158, 228, .3);
    --border:.1rem solid rgba(0, 0, 0, 0.241);    
    --border-hover:.1rem solid #126E82;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}


.menu-list button
{
   
        cursor: pointer;
        border: 1px solid #3498db00;
        background-color: transparent;
        height: 50px;
        width: 50px;
        color: #ffffff;

      
        

}
#hellologin
{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
    
}
.content{
  
  margin: auto;
  padding: 0 10rem;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 5px 0;
  transition: all 0.3s ease;
  height: 60px;
}
.menu-list{
    align-items: center;
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 2.6rem;
  
  text-decoration: none;
  
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 1.8rem;
  
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
@media(max-width:1400px)
{
    .navbar .logo a{
        color: #fff;
        font-size: 2.1rem;
        font-weight: 600;
        text-decoration: none;
      }
      
      .menu-list li a{
        color: #fff;
        font-size: 1.4rem;
        font-weight: 500;
        margin-left: 25px;
        text-decoration: none;
        transition: all 0.3s ease;
      }

}
.menu-list li div{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
.menu-list li a:hover{
    animation: hoverr 500ms  ease-out    forwards ;
  
}
@keyframes hoverr{
    0%{
        border-bottom: rgba(235, 51, 51, 0) solid 0px; ;
    }
    100%{
        border-bottom: rgb(255, 255, 255) solid 1px; ;
     }
}

.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
    .navbar{
        height: 45px;
    }
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.713);
    transition: all 0.3s ease;
    color: #000000;
   
  }
 
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 2rem;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }

}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 2.2rem;
  }
}




























*{
    
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 62.5%;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html::-webkit-scrollbar {
    display: none;
  }
  

section{
    padding:5rem 9%;
    padding-top: 8rem;
}




.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--dark);
    font-size: 1.7rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.btn:hover{
    background:var(--cyan);
}

.header .header-1{
    background:#fff;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--light);
}

.header .header-1 .logo i{
    color:var(--dark);
}

.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--light);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--light);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--dark);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--light);
    cursor: pointer;
    
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--dark);
}

#search-btn{
    display: none;
}

.header .header-2{
    background:var(--dark);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background:var(--cyan);
}

.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;

}

.bottom-navbar{
    text-align: center;
    background:var(--dark);
    position: fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding:2rem;
    color:#fff;
}

.bottom-navbar a:hover{
    background:var(--cyan);
}




.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    align-items: center;

    padding:1.5rem 5%;
}

.icons-container .icons{
    display: flex;
   padding-left: 30rem;
    align-items: center;
    gap:1.5rem;
    
    padding:2rem 0;
    padding-left: 7rem;
    
}
.icons .content{
    padding: 0;
}

.icons-container .icons i{
    font-size: 2.5rem;
    color:var(--dark);
}

.icons-container .icons h3{
    font-size: 1.78rem;
    color:var(--light);
    padding-bottom: .5rem;
}

.icons-container .icons p{
    font-size: 1.3rem;
    color:var(--pink);
}

.featured .featured-slider .box{
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    border:var(--border);
    text-align: center;
    height:40rem;
}

.featured .featured-slider .box:hover{
    border:var(--border-hover);
}

.featured .featured-slider .box .image{
    padding:.7rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
   
}

.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
}

.featured .featured-slider .box .image img{
    height: 20rem;
    
}

.featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0; left:0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
    color:var(--light);
    font-size: 2rem;
    padding:1rem 1.3rem;
}

.featured .featured-slider .box .icons a:hover{
    background:var(--dark);
    color:#fff;
}

.featured .featured-slider .box .content{
    background:#eee;
    padding:1.3rem;
}

.featured .featured-slider .box .content h3{
    font-size: 1.5rem;
    color:var(--light);
}

.featured .featured-slider .box .content .price{
    font-size: 1.8rem;
    color:var(--light);
    padding-top: .7rem;
}


.featured .featured-slider .box .content .price span{
    font-size: 1rem;
    color:var(--pink);
    text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev{
    border:var(--border-hover);
    height:4rem;
    width:4rem;
    color:var(--light);
    background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--light);
    color:#fff;
}



.arrivals .arrivals-slider .box{
    display: flex;
    align-items:center;
    gap:1.5rem;
    padding:2rem 1rem;
    border:var(--border);
    margin:1rem 0;
}

.arrivals .arrivals-slider .box:hover{
    border:var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
    height:8rem;
}

.arrivals .arrivals-slider .box .content1 .price h3{
    font-size: 1.5rem;
    color:var(--light);
}

.arrivals .arrivals-slider .box .content1 .price{
    font-size: 1.3rem;
    color:var(--light);
    padding-bottom: .5rem;
    padding-left: 2rem;
    padding-right: 4rem;
}

.arrivals .arrivals-slider .box .content1 .price span{
    font-size: 1.3rem;
    color:var(--pink);
    text-decoration: line-through;
}





.reviews .reviews-slider .box{
    border:var(--border);
    padding:2rem;
    text-align: center;
    margin:2rem 0;
}

.reviews .reviews-slider .box:hover{
    border:var(--border-hover);
}

.reviews .reviews-slider .box img{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3{
    color:var(--light);
    font-size: 1.6rem;
    padding:.5rem 0;
}

.reviews .reviews-slider .box p{
    color:var(--pink);
    font-size: 1.1rem;
    padding:1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars{
    padding-top: .5rem;
}

.reviews .reviews-slider .box .stars i{
    font-size: 1.3rem;
    color:var(--dark);
}
















/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }

}

@media (max-width:768px){

  


    .header .header-2{
        display:none;
    }

    .bottom-navbar{
        display: block;
    }



    
    

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }

    .newsletter{
        background-position: right;
    }

    .newsletter form{
        margin-left:0;
        max-width: 100%;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}




/*fdskjhfshfhisudhfiushfs
fs
f
sf
sf
s
f
sf
s
f
sf

sf
---------------------------------- overrides ------------------------------------------
*/












.nav
{
    height: 8%;
    display:flex;justify-content: space-between;width: 100%; position: fixed;top: 0;left: 0;
    z-index:100;transition: box-shadow 1200ms ease-in-out;
    background-image:linear-gradient(to bottom right, var(--dark1), var(--dark2));
    
}

.left{
    display: flex;
    margin-left: 10rem;

}
.logo
{
    width : 60px;
    margin-right:31px;
    margin-left: 8px;
    
}


.links:hover #dropdown .dropdownul
{
    
    top: 5.2rem;
    
}
.links:hover #dropdown .dropdownul  li a
{
    
    top: 5.2rem;
}

.links .dropdownul{
    position: fixed;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    list-style-type: none;
    padding-bottom: 2rem;
    top: -40rem;

 transition: all 700ms ease-out;
    border :var(--dark1) 3px solid;
    
color: black;
}

.links .aaaa
{
    color:rgb(255, 255, 255); 
    text-decoration: none;
}



.links:hover
{
    animation: hoverr 500ms  ease-out    forwards ;
  
}
@keyframes hoverr{
    0%{
        border-bottom: rgba(235, 51, 51, 0) solid 0px; ;
    }
    100%{
        border-bottom: rgb(255, 255, 255) solid 1px; ;
     }
}

.links .dropdownul  li a{
    padding: 1rem;
    top: -40rem;
    color: black;
    text-align: center;
   
  
 }
 .dropdownul  li {
    padding: 5px;
   
   
  
 }
 .dropdownul  li a:hover{
     
     animation: hoverr1 800ms  ease-out    forwards ;
   
  }
  @keyframes hoverr1{
     0%{
         border-bottom: rgba(235, 51, 51, 0) solid 0px; ;
     }
     100%{
         border-bottom: rgb(0, 0, 0) solid 1px; ;
      }
 }
.ac
{
    border-bottom: rgb(255, 255, 255) solid 1px;
}
.frontimg{
    
    background-image: linear-gradient(to bottom right, var(--dark1), var(--dark2));
    width : 100%;
    height :60rem;
    clip-path: polygon(0 0,100% 0 , 100% calc(100% - 5vw),0 100%);
    
    
   

}
.frontimg h1{
    padding-top: 8rem;
    font-size: 7rem;
    padding-left: 7rem;
    width: calc(100% - 80rem);
    color: white;
}
.frontimg button{
    width:max-content;
    font-size: 3rem;
    margin-left: 7rem;
 
    
   transition: all 450ms ease-in-out;
   color: white;
   background-color:  rgba(0, 0, 0, 1);

   
    position: relative;

}
.frontimg button:hover{
    
    color: rgb(0, 0, 0);
    background-color:  rgb(255, 255, 255);

}

.imgmain
{
  position: relative;
  left: calc(100% - 50rem);
  top: -47rem;
  width:50rem;



}

.miwrapper{
    height: 65rem;
}
@media (max-width: 1560px) {
    .imgmain
{
  position: relative;
  left: calc(100% - 40rem);
  top: -40rem;
  width:45rem;




}
    
    .frontimg h1{
        padding-top: 8rem;
        font-size:6.3rem;
        padding-left: 7rem;
        width: calc(100% - 65rem);
        color: white;
       
    }
    .frontimg{
        height: 55rem;
    }
    .frontimg button{
        width:max-content;
        font-size: 2.3rem;
     
    
    }
    .miwrapper{
        height: 60rem;
    }


}
@media (max-width:1300px)
{
    .frontimg{
        height: 50rem;
    }
    .imgmain{
        width: 40rem;
        top: -35rem;
    }
    .frontimg h1{
        padding-top: 7rem;
        font-size: 6.rem;
        padding-left: 7rem;
        width: calc(100% - 50rem);
        color: white;
       
    }
    .frontimg button{
        width:max-content;
        font-size: 2rem;
     
    
    }
    .miwrapper{
        height: 55rem;
    }
}
@media (max-width: 1110px) {
    .frontimg{
        height: 40rem;
    }
    .imgmain
    {
       
         position: relative;
        left:calc(100% - 30rem);
        top: -30rem;
        width:35rem;
    }
    .frontimg h1{
        padding-top: 6rem;
        font-size: 4.8rem;
        padding-left: 4rem;
        width: calc(100% - 25rem);
        color: white;
    }
    .frontimg button{
        width:max-content;
        font-size: 1.8rem;
        margin-left: 4rem;
       transition: all 450ms ease-in-out;
       color: white;
       background-color:  rgba(0, 0, 0, 1);
        position: relative;
        
    }
    .miwrapper{
        height: 45rem;
    }


}
@media (max-width: 600px) {
    .imgmain
    {
       
         position: relative;
        left:15%;
        top: -12rem;
        width:35rem;
    }
    .frontimg h1{
        padding-top: 8rem;
        font-size: 4rem;
        padding-left: 3rem;
        width: 100%;
        color: white;
    }
    .miwrapper{
        height: 65rem;
    }
    .frontimg button{
        width:max-content;
        font-size: 2.5rem;
        margin-left: 3rem;
       transition: all 450ms ease-in-out;
       color: white;
       background-color:  rgba(0, 0, 0, 1);
        position: relative;
    }


}



.main_links
{
    margin-right: 10rem;

}




      

.login-form-container{
    transition:  all 790ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
}

.login-form-container.active{
    right:0;
}

.login-form-container .form{
    background:#fff;
    border:var(--border);
    width:36rem;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:1rem;
    
    
}

.login-form-container .form h3{
    font-size: 1.7rem;
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
}

.login-form-container .form span{
    display: block;
    font-size: 1.3rem;
    padding-top: 1rem;
}

.login-form-container .form .box{
    
    width: 90%;
    margin:.7rem 0;
    font-size: 1.3rem;
    border:var(--border);
    border-radius: .5rem;
    padding:.7rem 1rem;
    color:var(--black);
    text-transform: none;
    font-family: 'Poppins', sans-serif;
    
    
}




.login-form-container .form p{
    padding-top: .6rem;
    color:var(--light-color);
    font-size: 1.2rem;
}

.login-form-container .form p a{
    color:var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 3.5rem;
    color:var(--black);
    cursor: pointer;
    border: 1px solid #3498db00;
    background-color: transparent;
    cursor: pointer;
   
}
.button
{
    display: flex;
    justify-content: space-around;

}
.button1
{
 

    display: flex;
    justify-content: space-around;

}
.btn{
    width : 100%;
   
 cursor: pointer;
    border: 1px solid #3498db00;
    background-color: transparent;
    font-size: 1.5rem;
    color: #000000;
    
    transition: all 350ms ease-in-out ;
    text-align: center;
    margin-bottom: 1rem;

}
.btn1{

    
    width : 100%;
   
 cursor: pointer;
    border: 1px solid #3498db00;
    background-color: transparent;
    font-size: 1.5rem;
    color: #000000;
    
    transition: all 350ms ease-in-out ;
    text-align: center;

    margin:1.5rem 0;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.068);
}
.btn1:hover{
    background-color: rgba(0, 0, 0, 0.068);
}
.heading1
{
    text-align: center;
    padding:0rem 4%;
    font-size: 2.7rem;
    border: rgb(162, 162, 162) 1px solid;
    background-color: white;
}
.centeral
{
    display: flex;
    justify-content: center;
    
}
hr.rounded {
    border-top: 2px solid #bbb;
    border-radius: 5px;
    position: relative;
    top:-2.2rem;
    z-index: -1;
  }
.cimage{
    height: 10rem;
    width: 10rem;
    
    
}
.tableCart
{
    align-content: center;
    margin-top: 2rem;
   justify-content: center;
    
    display: flex;
    
    flex-wrap: wrap;
}
.tableCart #tablec
{
    box-shadow: 0px 0px 3px rgb(90, 90, 90);
    border-radius: 10px;
  
    background-color: rgb(255, 255, 255);
    width:min-content;
    width:60%;

}
.tableCart #tablec tr th h1
{
    text-align: left;
    padding-left: 3rem;
   font-size: 2.5rem;

}

.cartbuy
{
    
    
    margin-left: 3%;
    
    background-color: rgb(255, 255, 255);
    width : 25%;
  
   display: block;
   font-size: 1.5rem;
   
}
.cartbuy1
{
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgb(90, 90, 90);
    font-size: 1.5rem;

}
.cartbuy2{
    
 
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgb(90, 90, 90);
   margin-top: 2rem;
   align-items: center;
  

}
.cartbuy h1{
    font-size: 1.5rem!important;

}
.cartbuy button{
    font-size: 1.5rem!important;

}
.tableCart tr td
{
    padding: .7rem;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    
}
.tableCart .headingstable td
{
    padding: 1.5rem;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    
    
}
.flex{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex3{
    
    display: flex;
    justify-content: space-around;
    padding-left: 2.5rem;

    
}

@media (max-width: 868px) {
    .flex3{
    
        display: flex;
        justify-content: space-around;
        padding-top: 3rem;
        padding-left: 0rem;
    
        
    }


}
.flex1{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tableCart .flex{
    padding-top: 3rem;
    display: flex;
    justify-content: space-around;
}
.quanin{
    border: black 1px solid;
    font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    width:5vw;
    text-align: center;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#cartH
{
    padding-top: 8rem;
    text-align: center;
    
    
   font-size: 3.6rem;
}
#cartH1
{
    padding-top:.5rem;
    text-align: center;
    padding-bottom: .5rem;
  
   font-size: 2rem;
}
.button2
{
 padding-right: 10rem;
 padding-left: 10rem;
 font-size: 1rem;


}
.button2 button
{

 font-size: 1.5rem!important;


}
@media(max-width:1100px)
{
    .button2
    {
        display: none;
    }
}

#CHdetails h1{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;

}
#CHdetails 
{
    margin-top: 2rem;
    font-size: 1.5rem;
    width: 55rem;



}
#CHdetails .itemsch
{
    width:80%;


}
#CHdetails .pricech
{
    width:80%;


}
.formimch
{
    background-image:url(../image/checkoutback.jpg);
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
     padding-top: 10rem;
     padding-bottom:15rem;
 
}
.formwrapcp
{
    background-image:url(../image/formback.jpg);
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    padding-top: 10rem;
    padding-bottom:15rem;

}
.formwrapcp1
{

   
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.809);
    border-radius: 2rem;
    color: white;
    width:max-content;
    max-width: 90%;


}
.formcp{
    color: white;
    background-color: rgba(0, 0, 0, 0.727);
    border-radius: 2rem;
    width:55rem;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    
    
}

.formcp h1{
    font-size: 2.5rem;
}
.formcp form 
{
    
    font-size: 2rem;
}
.formcp form .formcpc{
    padding-top: 1.5rem;
    
    
}

.formcp form input
{
    color: white;
    background-color: rgba(0, 0, 0, 0.487);
    width:80%;
   padding-top: .5rem;
   padding-left: 1rem;
    font-size: 2rem;
    border: 1px black solid;
    margin-top: 1rem;
    border-radius: 5px;
    
}


.formcp form textarea
{
    
    background-color: rgba(0, 0, 0, 0.487);
    width:80%;

    padding-top: .5rem;
   padding-left: 1rem;
    font-size: 2rem;
    border: 1px black solid;
    margin-top: 1rem;
    border-radius: 5px;
    
    
    
}
.formwrapcp1 form input
{
    color: white;
    background-color: rgba(0, 0, 0, 0.487);
    width:50%;
   padding-top: .5rem;
   padding-left: 1rem;
    font-size: 2rem;
    border: 1px black solid;
    margin-top: 1rem;
    border-radius: 5px;
    
}

.formwrapcp1 form textarea
{
    
    background-color: rgba(0, 0, 0, 0.487);
    width:5rem;

    padding-top: .5rem;
   padding-left: 1rem;
    font-size: 2rem;
    border: 1px black solid;
    margin-top: 1rem;
    border-radius: 5px;
    
    
    
}
.formcp input::placeholder{
    color: rgb(255, 255, 255);
  }
 .formcp textarea::placeholder{
    color: rgb(255, 255, 255);
  }
.formcp form #submit{
    color: white;
    padding-top: 1rem;
    padding-left: 3rem;
    text-align: center;
    width:20rem;
    font-size: 1.8rem;
    border: white 1px solid;
    border-radius: 1rem;
    margin-top: 1rem;
    border-radius: 5px;

}
.formcp form #submit:hover{
    background-color:rgba(0, 0, 0, 0.487) ;
}
@media (max-width: 1700px) {
    .formcp{
    
        color: white;
        background-color: rgba(0, 0, 0, 0.727);
        border-radius: 2rem;
        width:44rem;
        font-size: 1rem;
        padding-bottom: 1rem;
        padding-top: 2rem;
    
        
    }
    #CHdetails 
{
    margin-top: 2rem;
    font-size: 1.5rem;
    width: 44rem;

}
    .formcp form 
{
    
    font-size: 1.5rem;
}
.formcp form .formcpc{
    padding-top: 2rem;
    
    
}

.formcp form input
{
    color: white;
    background-color: rgba(0, 0, 0, 0.487);
    width:80%;
   padding-top: .5rem;
   padding-left: 1rem;
    font-size: 1.5rem;
    border: 1px black solid;
    margin-top: 1rem;
    border-radius: 5px;
    
}
.formcp form textarea
{
    
    background-color: rgba(0, 0, 0, 0.487);
    width:80%;
    color: white;

    padding-top: .5rem;
   padding-left: 1rem;
    font-size: 1.5rem;
    border: 1px black solid;
    margin-top: 1rem;
    border-radius: 5px;
    
    
    
}
.formwrapcp1 form input
{
    color: white;
    background-color: rgba(0, 0, 0, 0.487);
    width:60%;
   padding-top: .5rem;
   padding-left: 1rem;
    font-size: 1.5rem;
    border: 1px black solid;
    margin-top: 1rem;
    border-radius: 5px;
    
}

.formwrapcp1 form textarea
{
    
    background-color: rgba(0, 0, 0, 0.487);
    width:60%;

    padding-top: .5rem;
   padding-left: 1rem;
    font-size: 1.5rem;
    border: 1px black solid;
    margin-top: 1rem;
    border-radius: 5px;
    
    
    
}



}
@media (max-width: 868px) {
    .formcp{
    
        color: white;
        background-color: rgba(0, 0, 0, 0.727);
        border-radius: 2rem;
        width:34rem;
        font-size: 1.5rem;
        padding-bottom: 1rem;
        padding-top: 2rem;
    
        
    }
    #CHdetails 
{
    margin-top: 2rem;
    font-size: 1.5rem;
    width: 34rem;

}


}
@media (max-width:600px) {
    .formcp{
    
        color: white;
        background-color: rgba(0, 0, 0, 0.727);
        border-radius: 2rem;
        width:30rem;
        font-size: 1rem;
        padding-bottom: 1rem;
        padding-top: 2rem;
    
        
    }
    #CHdetails h1{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    
    }
    #CHdetails 
{
    margin-top: 2rem;
    font-size: 1.5rem;
    width: 85%;

}
#CHdetails .itemsch
{
    width:80%;


}
#CHdetails .pricech
{
    width:80%;


}

.formcp form 
    {
        
        font-size: 1.2rem;
    }
    .formcp form .formcpc{
        padding-top: 2rem;
        
        
    }

    .formcp form input
    {
        color: white;
        background-color: rgba(0, 0, 0, 0.487);
        width:80%;
    padding-top: .5rem;
    padding-left: 1rem;
        font-size: 1.2rem;
        border: 1px black solid;
        margin-top: 1rem;
        border-radius: 5px;
        
    }
    .formcp form textarea
    {
        
        background-color: rgba(0, 0, 0, 0.487);
        width:80%;
        color: white;
        padding-top: .5rem;
    padding-left: 1rem;
        font-size: 1.2rem;
        border: 1px black solid;
        margin-top: 1rem;
        border-radius: 5px;
        
        
        
    }
    .formwrapcp1 .formcp{
        width:85%;

    }
    .formwrapcp1
    {
        max-width: 80%;
    }
    .formcp h1{
        font-size: 2rem;
    }


}
.row{
    padding-left: 2rem;
    padding-top: 3rem;
                 padding-bottom: 3rem;
	display: flex;
    justify-content: space-evenly;
	flex-wrap: wrap;
}


.footer ul{
	list-style: none;
}
.footer{
	
    
    background-color: rgb(28, 31, 39);
}
.footer-col{
     width: 25%;
   padding-left: 5rem;
}


.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
        border-bottom: 1px rgb(218, 46, 74) solid;
        width: max-content;
}
.footer-col1 h4{
	font-size: 18px;
	color: #ffffff;
	
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
        border-bottom: 1px rgb(218, 46, 74) solid;
        width: max-content;
}
.footer-col1{
    width: 25%;
  padding-left: 5rem;
}







.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col ul li a{
	font-size: 1.4rem;
	text-transform: capitalize;
    margin-bottom: 1rem;

	   color: #ffffff;
	text-decoration: none;
	
	color: #ffffffe2;

	display: block;
	transition: all 0.3s ease;
}
.footer-col1 ul li a{
	font-size: 1.4rem;
	text-transform: capitalize;
    margin-bottom: 1rem;

	   color: #ffffff;
	text-decoration: none;

	color: #ffffffe2;

	display: block;
	transition: all 0.3s ease;
}




.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;


	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;

	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer-col1{
    padding-right:10vw;

}

@media(max-width: 1200px){
    .footer-col iframe
    {
        display: none;
    }
    .footer-col{

        width: 50%;
      
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .footer-col1{
    
        width: 50%;
      
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

}
@media(max-width: 767px){
  .footer-col{

    width: 50%;
  
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer-col1{

    width: 50%;
  
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer-col ul li a{
	font-size: 1.5rem;
	text-transform: capitalize;

	   color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;

	display: block;
	transition: all 0.3s ease;
}
.footer-col1 ul li a{
	font-size: 1.5rem;
	text-transform: capitalize;

	   color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;

	display: block;
	transition: all 0.3s ease;
}
.footer-col .social-links a{
	display: inline-block;
	height: 30px;
	width: 30px;


	background-color: rgba(255,255,255,0.2);
	margin:0 7px 7px 0;

	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
}
body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: .5s;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.textmain 
{
    padding-left: 10vw;
    font-size: 2rem;
    padding-top: 5rem;
    padding-right: 10vw;

}
.textmain h1
{
    font-size: 4rem;
}
